@page
@model EulerFinancial.Views.Test.EditModel

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.AccountId" />
            <div class="form-group">
                <label asp-for="Account.AccountNumber" class="control-label"></label>
                <input asp-for="Account.AccountNumber" class="form-control" />
                <span asp-validation-for="Account.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.DisplayOrder" class="control-label"></label>
                <input asp-for="Account.DisplayOrder" class="form-control" />
                <span asp-validation-for="Account.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.AccountCustodianId" class="control-label"></label>
                <select asp-for="Account.AccountCustodianId" class="form-control" asp-items="ViewBag.AccountCustodianId"></select>
                <span asp-validation-for="Account.AccountCustodianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.BooksClosedDate" class="control-label"></label>
                <input asp-for="Account.BooksClosedDate" class="form-control" />
                <span asp-validation-for="Account.BooksClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.IsComplianceTradable" /> @Html.DisplayNameFor(model => model.Account.IsComplianceTradable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.HasWallet" /> @Html.DisplayNameFor(model => model.Account.HasWallet)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.HasBankTransaction" /> @Html.DisplayNameFor(model => model.Account.HasBankTransaction)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.HasBrokerTransaction" /> @Html.DisplayNameFor(model => model.Account.HasBrokerTransaction)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
