@page "/dashboard"

@inherits LocalizableComponent

<PageTitle>
    @($"{Resources.Strings.ApplicationName} | {Resources.Strings.PageTitle_Dashboard}")
</PageTitle>

<ThemedComponent>
    <DashboardContainer>
        <ContentTiles>
            <ContentTile>
                <TitleAlignLeft>
                    <div>@Resources.Strings.ComponentTitle_FutureValueCalculator</div>
                </TitleAlignLeft>
                <Body>
                    @if(IsLoading)
                    {
                        <LoadingSvg />
                    }
                    else
                    {
                        <FutureValueCalculator 
                            Model="FunctionInputModel" 
                            Data="FutureValueData" 
                            OnValidSubmit="OnValidSubmit" />
                    }
                </Body>
            </ContentTile>
        </ContentTiles>
    </DashboardContainer>
</ThemedComponent>

@code {
    /// <summary>
    /// Gets or sets the <see cref="IFinancialCalculator" /> service for this component.
    /// </summary>
    [Inject]
    public IFinancialCalculator Calculator { get; init; }

    private IEnumerable<FutureValueResult> FutureValueData { get; set; }

    private FutureValueInput FunctionInputModel { get; set; } = new();

    private EditContext InputContext { get; set; }

    protected override void OnInitialized()
    {
        InputContext = new(FunctionInputModel);

        OnValidSubmit(InputContext);

        IsLoading = FutureValueData is null;
    }

    private void OnValidSubmit(EditContext context)
    {
        if(context.Validate())
        {
            FutureValueData = Calculator.FutureValue(
                startDate: FunctionInputModel.StartDate,
                periods: FunctionInputModel.Periods,
                presentValue: FunctionInputModel.PresentValue,
                growthRate: FunctionInputModel.GrowthRate,
                regularDeposit: FunctionInputModel.RegularDeposit,
                periodType: FunctionInputModel.PeriodType);
        }
    }

    
}
