@page "/about"

<ThemedComponent>
    <PageTitle>
        @($"{Resources.Strings.ApplicationName} | {Resources.Strings.PageTitle_About}")
    </PageTitle>

    <ContentTile>
        <TitleAlignLeft>
            @Resources.Strings.PageTitle_About
        </TitleAlignLeft>
        <Body>
            <div>
                @Resources.Strings.ApplicationSummary
            </div>
        </Body>
    </ContentTile>
</ThemedComponent>
