<ul>
    <li>
        <div>
            <IonIcon Name="add" width="256" height="256" />
        </div>

    </li>
    <li>
        <div>
            <IonIcon Name="add-circle" width="256" height="256" />
        </div>
    </li>
    <li>
        <div>
            <IonIcon Name="wifi" width="256" height="256" />
        </div>
    </li>
    <li>
        <div>
            <IonIcon Name="wifi-sharp" width="256" height="256" />
        </div>
    </li>
</ul>

