<ul>
    <li>
        <div>
            <IonIcon Name="add" width="64" height="64" />
        </div>

    </li>
    <li>
        <div>
            <IonIcon Name="add-circle" width="64" height="64" />
        </div>
    </li>
</ul>

