/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

li {
    display: inline-block
}

/* Change the fill color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[fill="none"], svg[fill="transparent"]) {
    fill: #E6E6E6;
}

/* Change the stroke color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[stroke="none"], svg[stroke="transparent"]) {
    stroke: #E6E6E6;
}

/* Set the default background color. */
::deep .ion-icon svg {
    background: #424242;
}

/* Change the background color to darker shade on hover. */
::deep .ion-icon svg:hover {
    background: #191919;
    cursor: pointer;
}