/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

li {
    display: inline-block
}

::deep svg > line {
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-width: 32px;
}

::deep svg > * {
    fill: #E6E6E6;
    stroke: #191919;
}

::deep svg {
    background: #424242;
}
::deep svg:hover {
    background: #191919;
    cursor: pointer
}