<div class="navmenu-item">
    @ChildContent
    <div class="caption">@Caption</div>
</div>

@code {
    [Parameter]
    public string? Caption { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}
