@inherits LayoutComponentBase

@layout MainLayout

@inject Services.ViewDataService ViewService

@if(!string.IsNullOrEmpty(ViewService.Header))
{
    <div><h4>@ViewService.Header</h4></div>
    <hr/>
}

<div class="page">
    @Body
</div>

@code {

    /// <inheritdoc/>
    protected override Task OnInitializedAsync()
    {
        var t = base.OnInitializedAsync();

        ViewService.PropertyChanged += OnPropertyChanged;

        return t;
    }

    /// <summary>
    /// Handles the <see cref="Services.ViewDataService"/> property changed event.
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private void OnPropertyChanged(
        object? sender, System.ComponentModel.PropertyChangedEventArgs? e)
    {
        InvokeAsync(() => StateHasChanged());
    }
}
