version: '3.4'
name: ozym
services:
  ozymweb:
    container_name: ozym-web
    image: ${DOCKER_REGISTRY-}ozymweb:${COMMIT_TAG}
    build:
      context: .
      dockerfile: Ozym.Web/Dockerfile
      args:
          - COMMIT_TAG
    depends_on:
    - ozymdb

  ozymapi:
    container_name: ozym-api
    image: "${DOCKER_REGISTRY-}ozymapi:${COMMIT_TAG}"
    build:
      context: .
      dockerfile: Ozym.API/Dockerfile
      args:
          - COMMIT_TAG
    depends_on:
    - ozymdb

  ozymdb:
    container_name: ozym-db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: example_123
    # mssql server image isn't available for arm64 architecture, so we use azure-sql instead
    # image: mcr.microsoft.com/azure-sql-edge:1.0.4
    # If you really want to use MS SQL Server, uncomment the following line
    image: mcr.microsoft.com/mssql/server
    restart: always
    healthcheck:
        test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P example_123 -Q 'SELECT 1' || exit 1"]
        interval: 10s
        retries: 10
        start_period: 10s
        timeout: 3s     