<div class="action-button-menu">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets the <see cref="RenderFragment" /> to rendered within this container.
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}