@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using EulerFinancial.Web.Components.Shared

<PageTitle>EulerFinancial.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu MenuItems="@menuItems" NavigationHelper="@NavigationManager"/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private readonly IReadOnlySet<NavMenuItem> menuItems = new HashSet<NavMenuItem>()
    {
        new (iconKey: "calendar", caption: "Calendar", "/Accounts"),
        new (iconKey: "newspaper", caption: "News", "/Accounts"),
        new (iconKey: "stats-chart", caption: "Reports", "/Accounts")

    };
}
