li {
    display: inline-block
}

/* Set aciton bar background color. Default is none.*/
.action-bar {
    background: var(--euler-hexcolor-back-0, none);
}

/* Change the fill color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[fill="none"], svg[fill="transparent"]) {
    fill: var(--euler-hexcolor-fore-0, black);
}

/* Change the stroke color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[stroke="none"], svg[stroke="transparent"]) {
    stroke: var(--euler-hexcolor-fore-0, black);
}

/* Set the default background color for IonIcons. Default is gray.*/
::deep .ion-icon svg {
    background: var(--euler-hexcolor-back-0, none);
}

/* Change the hover background color for IonIcons to alternate shade. */
    ::deep .ion-icon svg:hover {
        background: var(--euler-hexcolor-back-1, gray);
        cursor: pointer;
    }

