<p class="@Class">
    @if(RenderTitleSection)
    {
        <div class="content-tile-title">
            @if(TitleAlignLeft is not null)
            {
                <div class="left">
                    <h4>
                        @TitleAlignLeft
                    </h4>
                </div>
            }
            @if(TitleAlignRight is not null)
            {
                <div class="right">
                    @TitleAlignRight
                </div>
            }
        </div>
    }
    @if(Body is not null)
    {
        <div class="content-body">
            @Body
        </div>
    }
</p>

@code {
    [Parameter]
    public RenderFragment TitleAlignLeft { get; set; }

    [Parameter]
    public RenderFragment TitleAlignRight { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    private string ClassModifiers { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new();

    private bool RenderTitleSection => 
        TitleAlignLeft is not null || TitleAlignRight is not null;

    private string Class { get; set; } = "content-tile";

    protected override void OnInitialized()
    {
        if (Body is null)
            throw new ArgumentNullException(paramName: nameof(Body));

        if(InputAttributes is not null && InputAttributes.TryGetValue("class", out object classValue))
            ClassModifiers = classValue.ToString().Replace("content-tile", "");

        if (!string.IsNullOrEmpty(ClassModifiers))
            Class = $"{Class} {ClassModifiers}";
    }
}
