.menu-bar {
    --fore-color: var(--euler-hexcolor-fore-0, black);
    --hover-color: var(--euler-hexcolor-back-1-alt, white);
    --hover-color-detail: var(--euler-hexcolor-back-1, blue);
    --background-color: var(--euler-hexcolor-back-0, white);
}

::deep .menu-item.root:hover {
    background-color: var(--hover-color);
}

::deep .menu-item.child > .menu-item.child {
    left: 100%;
    position: absolute;
    top: 0;
}

:deep li.dropdown:hover > ul {
    display: block;
}

/*#region Ion-Iconsvg formatting */
/* Change the fill color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[fill="none"], svg[fill="transparent"]) {
    fill: var(--euler-hexcolor-fore-0, black);
}

/* Change the stroke color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[stroke="none"], svg[stroke="transparent"]) {
    stroke: var(--euler-hexcolor-fore-0, black);
}

/* Set the default background color for IonIcons.*/
::deep .ion-icon svg {
    background: none;
    height: 32px;
    aspect-ratio: 1/1;
}
/*#endregion */


/*
    Custom drop-down menu.
*/
::deep .dropdown {
    /* Border */
    display: flex;
    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ::deep .dropdown li {
        /* Spacing */
        /* Used to position the sub dropdown */
        position: relative;
    }

    /* The sub dropdown */
    ::deep .dropdown ul {
        background-color: var(--hover-color);
        /* Hidden by default */
        display: none;
        /* Absolute position */
        left: 0;
        position: absolute;
        top: 100%;
        /* Reset styles */
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* Width */
        width: 15vw;
    }

        /* The second level sub dropdown */
        ::deep .dropdown ul ul {
            left: 100%;
            position: absolute;
            top: 0;
        }

    /* Change background color of list item when being hovered */
    ::deep .dropdown li:hover {
        background-color: var(--hover-color-detail);
    }

        /* Show the direct sub dropdown when hovering the list item */
        ::deep .dropdown:hover > ul {
            display: block;
        }
