/* Override the a element rules so that value inherits from parent. */
a {
    color: inherit !important;
    display: block;
    font-family: inherit !important;
    font-size: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
    text-decoration: inherit !important;
}

.grid-container {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: inline-grid;
    grid-template-areas: "a b c";
    grid-template-columns: minmax(32px, 1fr) minmax(64px, 8fr) minmax(16px, auto);
    gap: 10px;
}

.root-node > .grid-container {
    min-height: 1.75rem;
}

.root-node > .grid-container.with-icon-left {
    grid-template-columns: minmax(32px, 1fr) auto auto;
}

.root-node > .grid-container.with-caption {
    grid-template-columns: minmax(16px, auto) minmax(64px, 8fr) minmax(16px, auto);
}

.root-node > .grid-container.with-icon-left.with-caption {
    grid-template-columns: minmax(32px, auto) minmax(64px, auto) minmax(16px, auto);
}

    .grid-container > .icon {
        max-width: 28px;
        aspect-ratio: 1/1;
    }

    .grid-container > * {
        align-self: center;        
    }

.icon.left {
    grid-area: a;
    margin-right: auto;
    margin-left: 30%;
    max-height: 70%;
}

.caption {
    grid-area: b;
    /*min-width: 64px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon.right {
    grid-area: c;
    margin-left: auto;
    margin-right: 6px;
    max-height: 12px;
}
