.menu-bar {
    --fore-color: var(--euler-hexcolor-fore-0, black);
    --hover-color: var(--euler-hexcolor-back-1-alt, white);
    --hover-color-detail: var(--euler-hexcolor-back-1, blue);
    --background-color: var(--euler-hexcolor-back-0, white);
}

.menu-bar {
    position: static;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* The second level sub dropdown */
.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

/* Change background color of list item when being hovered */
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

    /* Show the direct sub dropdown when hovering the list item */
    .dropdown li:hover > ul {
        display: block;
    }


::deep ul {
    list-style-type: none;
}

::deep .menu-item {
    border: none;
}

::deep .menu-item.root {
    background-color: var(--background-color);
    color: var(--fore-color);
    height: 32px;
    font-size: 0.75rem;
    position: static;
    display: inline-block;
    padding-right: 5px;
}

    ::deep .menu-item:hover > .menu-item.dropdown {
        display: block;
    }

    ::deep .dropdown {
        background-color: var(--hover-color);
        position: relative;
        display: none;
        width: 15vw;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        z-index: 3;
    }

::deep .ion-icon > svg {
    height: 32px;
    aspect-ratio: 1/1;
}

::deep .menu-item.root:hover {
    background-color: var(--hover-color);
}

/* Change the fill color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[fill="none"], svg[fill="transparent"]) {
    fill: var(--euler-hexcolor-fore-0, black);
}

/* Change the stroke color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[stroke="none"], svg[stroke="transparent"]) {
    stroke: var(--euler-hexcolor-fore-0, black);
}

/* Set the default background color for IonIcons.*/
::deep .ion-icon svg {
    background: none;
}
