a.sign-in, a.manage-profile {
    display: table-cell;
    position: relative;
    padding: 0.5rem 1rem 0.5rem 1rem;

    margin-left: 0em;
    color: var(--theme-text-color-0, black);
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

    a.sign-in:hover, a.manage-profile:hover {
        background-color: var(--default-link-onhover-back-color, gray);
        color: var(--theme-text-color-0, black);
    }
