@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using System.Text.Json
@using NjordFinance.Web.Components.Shared

<PageTitle>NjordFinance.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <MenuButtonGrid MenuItems="@menuItems" NavigationHelper="@NavigationManager"/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <div class="left">
                <div class="home-link">
                    <a href="/">
                        @Resources.Strings.Title_ApplicationName
                    </a>
                </div>
                <MenuStrip Menu="@MainMenu" />
            </div>
            <div class="right">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private Menu? MainMenu { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        MainMenu = JsonSerializer.Deserialize<Menu>(Resources.DefaultConfiguration.NavigationMenu);
    }
    private readonly IReadOnlySet<MenuItem> menuItems = new HashSet<MenuItem>()
    {
        new(){ IconKey = "calendar", Caption = "Calendar" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "newspaper", Caption = "News" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "stats-chart", Caption = "Reports" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "planet", Caption = "Geography" , UriStem = "/PageUnderConstruction" }
    };
}
