.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-elevation-backcolor-0, white);
}

main {
    flex: 1;
    color: var(--theme-text-color-0, black);
    background-color: var(--theme-elevation-backcolor-0, white);
}

.top-row {
    /*position: relative;*/
    /*background-color: var(--theme-elevation-backcolor-0, white);*/
    border-bottom: 1px solid var(--theme-text-color-0);
    justify-content: left;
    height: 3.5rem;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    z-index: 99;
}

    .top-row .left {
        margin-right: auto;
        display: flex;
    }

    .top-row .right {
        margin-left: auto;
    }

/* Not sold on the look of a border yet. */
/*.home-link {
    border: 2px solid;
}*/

.home-link a {
    padding: 0.5em;
    margin: 0rem;
    color: var(--theme-text-color-0, black);
    font-family: 'Cambria Math' !important;
    font-size: 1.25rem;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: auto;
}

    .home-link a:hover {
        background-color: var(--theme-hexcolor-primary-0);
        color: var(--theme-text-color-0, black);
        cursor: pointer;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    /*    .sidebar {
        width: auto;
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 5px 5px 5px 5px;
    }*/

    .top-row {
        position: sticky;
        top: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
