@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using System.Text.Json
@using NjordFinance.Web.Components.Shared

<PageTitle>NjordFinance.Web</PageTitle>

<div class="page" theme_elevation="00">
    <div class="sidebar">
        <MenuButtonGrid MenuItems="@menuItems" NavigationHelper="@NavigationManager"/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            @if(MainMenu is not null)
            {
                <div class="left">
                    <MenuBar Menu="@MainMenu" OnHyperlinkClickOverride="OnHomeLinkClick" />
                </div>
            }
            <div class="right">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private Menu MainMenu { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MainMenu = await Resources.ResourceHelper.GetDefaultMenu() ?? new();
    }

    private readonly IReadOnlySet<MenuItem> menuItems = new HashSet<MenuItem>()
    {
        new(){ IconKey = "calendar", Caption = "Calendar" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "newspaper", Caption = "News" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "stats-chart", Caption = "Reports" , UriStem = "/PageUnderConstruction" },
        new(){ IconKey = "planet", Caption = "Geography" , UriStem = "/PageUnderConstruction" }
    };

    private void OnHomeLinkClick(MouseEventArgs args)
    {
        if (NavigationManager.Uri == NavigationManager.BaseUri)
            return;
        else
            NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
