@page "/"
@using Microsoft.Extensions.Localization

@inherits LocalizedComponent

<h1>Hello, world!</h1>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input type="checkbox" @bind=TestParameter/>

@*<EditForm @Model=@(new Account())>
    <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.AccountNumber)))">
        @(ModelMetadata.NameFor<Account>(nameof(Account.AccountNumber)))
    </ToolTip>
    <InputCheckbox @bind-Value=TestParameter/>
</EditForm>*@
@code{
    protected bool TestParameter { get; set; }
    /// <inheritdoc/>
    protected override string PageTitle => Resources.PageMetadata.Application_Home_Title;
}
