<AuthorizeView>
    <Authorized>
        <a class="manage-profile" href="Identity/Account/Manage">@context.User.Identity?.Name</a>
        <a class="sign-in authenticated" href="Identity/Account/LogOut">Sign out</a>
    </Authorized>
    <NotAuthorized>
        <a class="sign-in not-authenticated" href="Identity/Account/Login">Sign in</a>
    </NotAuthorized>
</AuthorizeView>
