/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33r0u0kcQg86woFa0kqiTdJpabo */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */
:root {
    /*#region Color palette */
    /*primary color (blue)*/
    --theme-hexcolor-primary-0: #0E2C39;
    --theme-hexcolor-primary-1: #1E3945;
    --theme-hexcolor-primary-2: #324851;
    --theme-hexcolor-primary-3: #485D66;
    --theme-hexcolor-primary-4: #64757C;
    /* secondary color (1) (red)*/
    --theme-hexcolor-secondary-1-0: #5B2113;
    --theme-hexcolor-secondary-1-1: #6D392D;
    --theme-hexcolor-secondary-1-2: #81574D;
    --theme-hexcolor-secondary-1-3: #A37A70;
    --theme-hexcolor-secondary-1-4: #C5A49D;
    /* secondary color(2) (yellow)*/
    --theme-hexcolor-secondary-2-0: #5B4713;
    --theme-hexcolor-secondary-2-1: #6D5B2D;
    --theme-hexcolor-secondary-2-2: #81724D;
    --theme-hexcolor-secondary-2-3: #A39470;
    --theme-hexcolor-secondary-2-4: #C5B99D;
    --theme-hexcolor-gray-0: #121212;
    --theme-hexcolor-gray-1: #161616;
    --theme-hexcolor-gray-2: #1a1a1a;
    --theme-hexcolor-gray-3: #1e1e1e;
    --theme-hexcolor-gray-4: #212121;
    --theme-hexcolor-gray-5: #252525;
    --theme-hexcolor-gray-6: #292929;
    --theme-hexcolor-gray-7: #2d2d2d;
    --theme-hexcolor-gray-8: #313131;
    --theme-hexcolor-gray-9: #353535;
    --theme-hexcolor-text-0: #e6e6e6;
    --theme-elevation-backcolor-0: var(--theme-hexcolor-gray-0);
    --theme-elevation-backcolor-1: var(--theme-hexcolor-gray-1);
    --theme-elevation-backcolor-2: var(--theme-hexcolor-gray-2);
    --theme-elevation-backcolor-3: var(--theme-hexcolor-gray-3);
    --theme-elevation-backcolor-4: var(--theme-hexcolor-gray-4);
    --theme-elevation-backcolor-5: var(--theme-hexcolor-gray-5);
    --theme-elevation-backcolor-6: var(--theme-hexcolor-gray-6);
    --theme-elevation-backcolor-7: var(--theme-hexcolor-gray-7);
    --theme-elevation-backcolor-8: var(--theme-hexcolor-gray-8);
    --theme-elevation-backcolor-9: var(--theme-hexcolor-gray-9);
    --theme-text-color-0: var(--theme-hexcolor-text-0);
    /*#endregion */
    /*#region Control colors */
    --theme-form-control-back-color: var(--theme-hexcolor-gray-1, gray);
    --theme-form-control-border-color: var(--theme-hexcolor-gray-9, black);
    --theme-tablecell-back-color: var(--theme-hexcolor-gray-1, gray);
    --theme-tablecell-border-color: var(--theme-hexcolor-gray-3, blue);
    --theme-tablecell-fore-color: var(--theme-text-color-0, white);
    --theme-tableheader-back-color: var(--theme-hexcolor-primary-0, white);
    --theme-tableheader-border-color: var(--theme-hexcolor-gray-3, blue);
    --theme-tableheader-fore-color: var(--theme-text-color-0, white);
    --theme-tablecell-onhover-color: var(--theme-hexcolor-primary-2);
    /*#endregion*/
    /*#region Fonts */
    --theme-fontfamily-default: 'Cambria Math';
    --theme-fontfamily-actionmenu: 'Arial';
    --theme-fontfamily-tableheader: 'Cambria Math';
    --theme-fontfamily-tablecell: 'Arial';
    /*#endregion */
    --theme-box-shadow-opacity: 0.3;

    /*#region Radzen.Blazor chart series override */
    --rz-series-1: var(--theme-hexcolor-primary-2, #3700b3);
    --rz-series-2: #ba68c8;
    --rz-series-3: #f06292;
    --rz-series-4: #ff8a65;
    --rz-series-5: #ffee58;
    --rz-series-6: #9ccc65;
    --rz-series-7: #26a69a;
    --rz-series-8: #4fc3f7;
    --rz-series-9: #7f5cce;
    --rz-series-10: #ce93d8;
    --rz-series-11: #f48fb1;
    --rz-series-12: #ffab91;
    --rz-series-13: #fff176;
    --rz-series-14: #aed581;
    --rz-series-15: #4db6ac;
    --rz-series-16: #81d4fa;
    --rz-series-17: #a58cdd;
    --rz-series-18: #e1bee7;
    --rz-series-19: #f8bbd0;
    --rz-series-20: #ffccbc;
    --rz-series-21: #fff59d;
    --rz-series-22: #c5e1a5;
    --rz-series-23: #80cbc4;
    --rz-series-24: #b3e5fc;
    /*#endregion */
}

body {
    background-color: var(--theme-elevation-backcolor-0, white);
}

[theme_elevation="00"] {
    background-color: var(--theme-elevation-backcolor-0, white);
}

::deep [theme_elevation="01"] {
    background-color: var(--theme-elevation-backcolor-1, white);
}

::deep [theme_elevation="02"] {
    background-color: var(--theme-elevation-backcolor-2, white);
}

::deep [theme_elevation="03"] {
    background-color: var(--theme-elevation-backcolor-3, white);
}

::deep [theme_elevation="04"] {
    background-color: var(--theme-elevation-backcolor-4, white);
}

::deep [theme_elevation="05"] {
    background-color: var(--theme-elevation-backcolor-5, white);
}

::deep [theme_elevation="06"] {
    background-color: var(--theme-elevation-backcolor-6, white);
}

::deep [theme_elevation="07"] {
    background-color: var(--theme-elevation-backcolor-7, white);
}

::deep [theme_elevation="08"] {
    background-color: var(--theme-elevation-backcolor-8, white);
}

::deep [theme_elevation="09"] {
    background-color: var(--theme-elevation-backcolor-9, white);
}


