h3 {
    display: inline-flex;
    flex-direction: row;
    border-bottom: 1px solid var(--theme-text-color-0, black);
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    width: 100%;
}

    h3 > span {
        padding-right: 0.5rem;
    }

a {
    color: inherit !important;
    display: block;
    font-family: inherit !important;
    font-size: inherit !important;
    margin: inherit !important;
    text-decoration: inherit !important;
}