@inherits ModelComponent<TModelDto>

@typeparam TModelDto
@attribute [CascadingTypeParameter(nameof(TModelDto))]

<CascadingValue Value="@this">
    <table class="model-attributes">
        <tbody>
            @ChildContent
        </tbody>
    </table>
</CascadingValue>

@code {
    [Parameter, EditorRequired] 
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter, EditorRequired]
    public TModelDto ModelDto { get; set; }
}
