.ni-dashboard-tile {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 1rem;
    font-size: 0.8rem !important;
    resize: both;   
}

.future-value-calculator {
    display: grid;
}


.ni-dashboard-tile .radzen-chart {
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
}

::deep .future-value-calculator form .model-attributes {
    grid-row-gap: 0.5rem !important;
}

::deep .form-control:not(button) {
    font-size: 0.8rem !important;
}

::deep .form-entry .label {
    padding-left: 0.1rem !important;
}

/* #region Radzen.Blazor Material customization */

::deep .radzen-chart .rz-axis .rz-axis-title {
    fill: var(--theme-text-color-0) !important;
}

/* #endregion */