.ni-dashboard-tile {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 1rem;
    font-size: 0.8rem !important;
    resize: both;
    --rz-series-1: var(--theme-hexcolor-secondary-3-0, #3700b3) !important;
    --rz-series-2: var(--theme-hexcolor-secondary-3-1, #ba68c8) !important;
    --rz-series-3: var(--theme-hexcolor-secondary-3-2, #f06292) !important;
    --rz-series-4: var(--theme-hexcolor-secondary-2-1, #ff8a65) !important;
    --rz-series-5: var(--theme-hexcolor-secondary-1-2, #ffee58) !important;
    --rz-series-6: var(--theme-hexcolor-secondary-1-1, #9ccc65) !important;
    --rz-series-7: var(--theme-hexcolor-secondary-1-0, #26a69a) !important;
}

.future-value-calculator {
    display: grid;
}


.ni-dashboard-tile .radzen-chart {
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
}

::deep .future-value-calculator form .model-attributes {
    grid-row-gap: 0.5rem !important;
}

::deep .form-control:not(button) {
    font-size: 0.8rem !important;
}

::deep .form-entry .label {
    padding-left: 0.1rem !important;
}

/* #region Radzen.Blazor Material customization */

::deep .radzen-chart .rz-axis .rz-axis-title {
    fill: var(--theme-text-color-0) !important;
}

.rz-series-0 {
    fill: var(--theme-hexcolor-primary-0, blue) !important;
    stroke: var(--theme-hexcolor-primary-1, blue) !important;
}
/* #endregion */
