.ni-dashboard-tile {
    font-size: 0.8rem !important;
    display: flex;
    width: 100%;
    resize: both;   
}

.ni-dashboard-tile .future-value-calculator {
    padding-top: 1rem;
    max-width: 300px;
    float: left;
}

.future-value-calculator .model-attributes {
    padding-top: 0.5rem;
}

.ni-dashboard-tile .radzen-chart {
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 300px;   
    margin-left: 16px;
    flex-grow: 1;
}

::deep .future-value-calculator .grid-container {
    display: inline-grid;
    grid-template-columns: 7rem auto;
    grid-template-areas: "lbl vlu vlu vlu vlu";
    align-items: center;
}

::deep .form-control:not(button) {
    width: 150px !important;
    min-width: 100px !important;
    font-size: 0.8rem;
}

/* #region Radzen.Blazor Material customization */

::deep .radzen-chart .rz-axis .rz-axis-title {
    fill: var(--theme-text-color-0) !important;
}

/* #endregion */