.ni-dashboard-tile {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem !important;
    resize: both;
}

.ni-dashboard-tile .datagrid {
    width: 100%;
}

div.positive {
    color: var(--theme-text-color-success, green);
}

div.negative {
    color: var(--theme-text-color-failure, red);
}