.control-container {
    display: flex;
    justify-content: flex-start;
    /*max-height: 2rem;*/
    /*position: relative;*/
}

#8FF508DD-48E0-412F-831A-D70930322DE1, #1A9C259A-D299-40C3-8FAB-55D2C9557CE1 {
    text-align: center;
    width: min-content;
}

.form-control:not(button) {
    width: auto;
    max-width: 50px;
}

.control-container .pagination-caption {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.85rem;

    /* This flag does not seem correct. Browser deve tools recognize value just fine.*/
    /* TODO: Investigate. */
    /* Prefer the center look. */
    /* TODO: Remove */
    /*align-self: last baseline;*/
}
