@typeparam TViewModel

@inherits LocalizableComponent

@if(!string.IsNullOrEmpty(LabelText))
{
    <tr>
        <td class="col-sm-2">
            @if(!string.IsNullOrEmpty(ToolTipText))
            {
                <ToolTip Text="@ToolTipText">
                    @LabelText
                </ToolTip>
            }
            else
            {
                @LabelText
            }
        </td>
        <td class="col-sm-10">
            @ChildContent
            @if(ValidationMessageDelegate is not null)
            {
                <ValidationMessage For="@ValidationMessageDelegate" />
            }
        </td>
    </tr>
}

@code {
    [CascadingParameter]
    private ModelForm<TViewModel> ParentForm { get; set; }

    [Parameter, EditorRequired] 
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public Expression<Func<TViewModel, object>> ForMember { get; set; }

    [Parameter]
    public string LabelOverride { get; set; }

    [Parameter]
    public Expression<Func<object>> ValidationMessageDelegate { get; set; }

    private string ToolTipText
    {
        get{
            try
            {
                return ModelMetadata.DescriptionFor<TViewModel>(ForMember);
            }
            catch(NotSupportedException)
            {
                return null;
            }
        }
    }
    
    private string LabelText => string.IsNullOrEmpty(LabelOverride) ?
        ModelMetadata.NameFor<TViewModel>(ForMember) : LabelOverride;
}
