h3 {
    display: inline-flex;
    flex-direction: row;
}

    h3 > span {
        padding-left: 5%;
    }

::deep .menu-item.root-node {
    height: var(--default-height, 32px) !important;
}

::deep .icon.root {
    max-width: 32px !important;
}
