<h3>
    @if(ActionMenu is not null)
    {
        <MenuBar Menu="@ActionMenu" />
    }
    <span>@Header</span>
</h3>

@code {
    /// <summary>
    /// Gets or sets the <see="Menu" /> for the component.
    /// </summary>
    [Parameter]
    public Menu ActionMenu { get; set; }

    /// <summary>
    /// Gets or sets the text header for the component.
    /// </summary>
    [Parameter]
    public string Header { get; set; }
}
