@inherits LocalizableComponent

@typeparam TModel

@attribute [CascadingTypeParameter(nameof(TModel))]

<ThemedComponent>
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <CascadingValue Value="@this">
            <CascadingValue Value="@Model">
                <table class="model-attributes">
                    <tbody>
                        @ChildContent
                    </tbody>
                </table>
            </CascadingValue>
        </CascadingValue>
    </EditForm>
</ThemedComponent>

@code {
    [Parameter]
    public TModel Model { get; set; }

    [Parameter] 
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets the description for the given member defined for this components type parameter.
    /// </summary>
    /// <param name="memberName">The member name.</param>
    /// <returns></returns>
    public string DescriptionFor(string memberName) => DescriptionFor<TModel>(memberName);

    /// <summary>
    /// Gets the name for the given member defined for this components type parameter.
    /// </summary>
    /// <param name="memberName">The member name.</param>
    /// <returns></returns>
    public string NameFor(string memberName) => NameFor<TModel>(memberName);
}
