@import url('theme-dark.css');

body {
    background-color: var(--theme-elevation-backcolor-0, white);
    color: var(--theme-text-color-0, black);
}

.col-md-4 {
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.footer {
    margin-top: 0.75rem;
}

/*#region Navigation header*/
.navbar-custom {
    background-color: var(--default-back-color);
    color: var(--theme-text-color-0, black);
    border-bottom: 1px solid var(--default-text-color);
    justify-content: left;
    height: 3.5rem;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    position: relative;
    z-index: 999;
    width: 100%;
}

a.navbar-link {
    color: var(--theme-text-color-0, blue);
    text-decoration: none;
}

#home.navbar-link, #register.navbar-link, #login.navbar-link {
    display: table-cell;
    position: relative;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 0em;
    color: var(--theme-text-color-0, black);
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

a.sign-in:hover, a.manage-profile:hover {
    background-color: var(--default-link-onhover-back-color, gray);
    color: var(--theme-text-color-0, black);
}

a.navbar-link:hover {
    color: var(--theme-text-color-0, black);
    color: var(--theme-hexcolor-secondary-2-3, yellow);
}

.navbar-custom .navbar-nav {
    height: 100%;
    display: table;
}

.navbar-nav .nav-item {
    height: 100%;
    display: table-cell;
    position:relative;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-item:hover {
    background-color: var(--theme-hexcolor-secondary-2-0, yellow);
    color: var(--theme-hexcolor-gray-5, gray);
    cursor: pointer;
}

.navbar-custom .left {
    margin-right: auto;
    display: flex;
}

.navbar-custom .right {
    display: flex;
    float: right;
}

.navbar-custom .left > * {
    display: table;
}

.navbar-custom .right > * {
    display: table;
}

.navbar-custom > * {
    height: 100%;
}
/*#endregion*/



/* #region Custom links */
a.custom-link {
    color: var(--theme-text-color-0, blue);
}
a.custom-link:hover {
    color: var(--theme-hexcolor-secondary-2-3, yellow);
}
/* #endregion */

/*#region Elevation back color*/
[theme_elevation="00"] {
    background-color: var(--theme-elevation-backcolor-0, white);
}

[theme_elevation="01"] {
    background-color: var(--theme-elevation-backcolor-1, white);
}

[theme_elevation="02"] {
    background-color: var(--theme-elevation-backcolor-2, white);
}

[theme_elevation="03"] {
    background-color: var(--theme-elevation-backcolor-3, white);
}

[theme_elevation="04"] {
    background-color: var(--theme-elevation-backcolor-4, white);
}

[theme_elevation="05"] {
    background-color: var(--theme-elevation-backcolor-5, white);
}

[theme_elevation="06"] {
    background-color: var(--theme-elevation-backcolor-6, white);
}

[theme_elevation="07"] {
    background-color: var(--theme-elevation-backcolor-7, white);
}

[theme_elevation="08"] {
    background-color: var(--theme-elevation-backcolor-8, white);
}

[theme_elevation="09"] {
    background-color: var(--theme-elevation-backcolor-9, white);
}
/*#endregion */

/*#region Form Control*/
.form-control {
    color: var(--theme-text-color-0, black) !important;
    outline: none !important;
    font-family: inherit !important;
}

textarea.form-control {
    height: 30vh;
}

.form-control:not(.label):not(.button) {
    background-color: var(--theme-form-control-back-color, white);
    border-color: var(--theme-form-control-border-color, gray);
}

.form-control.label {
    background-color: transparent;
    border: none !important;
    color: var(--theme-text-color-0, black) !important;
    font-size: inherit !important;
    font-family: inherit !important;
    outline: none !important;
}

.form-control.button {
    background-color: var(--theme-hexcolor-primary-0, inherit);
    border-color: var(--theme-form-control-border-color, inherit) !important;
    border: 1px solid;
    color: var(--theme-text-color-0, white) !important;
    padding: revert !important;
    margin: revert !important;
}

    .form-control.button.icon {
        padding: 0.125rem !important;
    }

    .form-control.button.icon {
        vertical-align: revert;
    }

    .form-control.button:hover {
        background-color: var(--theme-hexcolor-primary-2, inherit) !important;
        border-color: var(--theme-form-control-border-color, inherit) !important;
        color: var(--theme-text-color-0, white) !important;
    }

.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--theme-hexcolor-secondary-2-2, blue);
}

/* Handle the style of checkboxes */
input[type=checkbox].checkbox-themed {
    -webkit-appearance: none;
    background-color: var(--theme-form-control-back-color, white);
    border: 1px solid;
    border-color: var(--theme-form-control-border-color, gray);
    color: var(--theme-hexcolor-text-0, white);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
}

    input[type=checkbox].checkbox-themed:checked {
        background-color: var(--theme-hexcolor-secondary-2-1, blue);
    }

        input[type=checkbox].checkbox-themed:checked:after {
            content: '\2714';
            padding-left: 0.15rem;
            top: -0.15rem;
            aspect-ratio: 1/1;
            position: relative;
            float: left;
            max-height: 100%;
        }

/* Remove the InputNumber element's selector control */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Handle the width of date input controls. */
input[type=date] {
    width: auto;
    min-width: 155px;
}

.validation-message {
    padding-left: 0.25rem;
    width: 100%;
}


/* Handle containers for floating form controls with a bound label. */
.form-floating {
    margin-bottom: 0.75rem;
}

.form-floating > input[type="checkbox"].checkbox-themed {
    display: inline-block;
    vertical-align: middle;
}

.form-floating > .form-label.checkbox-caption {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
/*#endregion*/