.grid-container.with-modifier {
    grid-template-columns: 2fr 3fr 1fr;
}

.grid-container.no-modifier {
    grid-template-columns: 2fr 4fr;
}

.grid-container {
    display: inline-grid;
    /*width: 100%;*/
    /*max-width: 45vw;*/
    align-items: center;
}
.grid-container div {
    height: 100%;
    width: auto;
}

.form-entry {
    padding-bottom: 0.5rem;
}

.form-entry:last-child {
    padding-bottom: 0rem;
}

::deep div.form-control:empty {
    padding: 1rem;
}
