.model-attributes {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.75rem;
}
::deep .form-control {
    box-sizing: border-box !important;
    width: 100%;
}

::deep .model-attributes .custom-tooltip {
    position: static;
}

::deep .model-attributes .custom-tooltip-text {
    margin-left: 0.5rem;
    z-index: 999;
}
::deep div.form-control {
    color: var(--theme-text-color-0, black) !important;
    border-style: solid;
    border-width: 1px;
    padding: 0rem 0.125rem 0.125rem 0.5rem;
}

::deep div.form-control:hover {
    box-shadow: 0 0 0 0.2rem var(--theme-hexcolor-secondary-2-2, blue);
}

::deep .model-attributes {
    row-gap: 1rem;
}

::deep .model-attributes .text-area {
    overflow: auto;
    height: auto;
    display: block;
}

::deep .text-area {
    white-space: pre-wrap;
    height: 0.25rem;
}