@inherits ModelComponent<TModelDto>

@typeparam TModelDto where TModelDto : class
@attribute [CascadingTypeParameter(nameof(TModelDto))]

<CascadingValue Value="@ModelDto">
    <table class="model-attributes">
        <tbody>
            @ChildContent
        </tbody>
    </table>
</CascadingValue>

@code {                                                                     
    [Parameter, EditorRequired] 
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter, EditorRequired]
    public TModelDto ModelDto { get; set; }
}
