.grid-container.col-3 {
    grid-template-columns: 2fr 6fr 1fr;
}

.grid-container.col-2 {
    grid-template-columns: 2fr 4fr;
}

.grid-container {
    display: inline-grid;
    align-items: center;
    /*padding-left: 0.5rem;
    padding-right: 0.5rem;*/
}
.grid-container div {
    height: 100%;
    width: auto;
}

::deep div.form-control:empty {
    padding: 0.7rem;
}
