.action-button-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 15%));
    grid-gap: 0.75rem;
    padding: 0.5rem;
}

::deep .action-button-menu > button {
    overflow: hidden;
    text-overflow: ellipsis;
}
