@page "/Accounts/Detail={AccountId}"
@inject Data.IAccountService AccountService

@if(account is null)
{
    <div>Loading...</div>
}
else
{
    
}


@code {
    [Parameter]
    public int AccountId { get; set; }

    Account account;

    protected override async Task OnInitializedAsync()
    {
        account = await AccountService
            .SelectOneAsync(a => a.AccountId == AccountId);
    }
}
