/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33r0u0kcQg86woFa0kqiTdJpabo */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */
:root {
    /*#region Color palette */
    /*primary color (blue)*/
    --euler-hexcolor-primary-0: #0E2C39;
    --euler-hexcolor-primary-1: #1E3945;
    --euler-hexcolor-primary-2: #324851;
    --euler-hexcolor-primary-3: #485D66;
    --euler-hexcolor-primary-4: #64757C;
    /* secondary color (1) (red)*/
    --euler-hexcolor-secondary-1-0: #5B2113;
    --euler-hexcolor-secondary-1-1: #6D392D;
    --euler-hexcolor-secondary-1-2: #81574D;
    --euler-hexcolor-secondary-1-3: #A37A70;
    --euler-hexcolor-secondary-1-4: #C5A49D;
    /* secondary color(2) (yellow)*/
    --euler-hexcolor-secondary-2-0: #5B4713;
    --euler-hexcolor-secondary-2-1: #6D5B2D;
    --euler-hexcolor-secondary-2-2: #81724D;
    --euler-hexcolor-secondary-2-3: #A39470;
    --euler-hexcolor-secondary-2-4: #C5B99D;
    /* gray color scale darkest - lightest */
    --euler-hexcolor-gray-0: #191919;
    --euler-hexcolor-gray-1: #212121;
    --euler-hexcolor-gray-2: #303030;
    --euler-hexcolor-gray-3: #424242;
    --euler-hexcolor-gray-4: #D2D2D2;
    --euler-hexcolor-gray-5: #E6E6E6;
    /*#endregion Color palette */

    /*#region Control colors */

    --euler-hexcolor-back-0: var(--euler-hexcolor-gray-0, white);
    --euler-hexcolor-back-1: var(--euler-hexcolor-gray-3, blue);
    --euler-hexcolor-back-1-alt: var(--euler-hexcolor-gray-1, gray);
    --euler-hexcolor-control-back-0: var(--euler-hexcolor-gray-1, gray);
    --euler-hexcolor-control-border: var(--euler-hexcolor-gray-3, black);
    --euler-hexcolor-fore-0: var(--euler-hexcolor-gray-5, white);
    --euler-hexcolor-fore-1: var(--euler-hexcolor-gray-4, gray);
    --euler-hexcolor-tablecell-back: var(--euler-hexcolor-gray-1, gray);
    --euler-hexcolor-tablecell-border: var(--euler-hexcolor-gray-3, blue);
    --euler-hexcolor-tablecell-fore: var(--euler-hexcolor-gray-5, white);
    --euler-hexcolor-tableheader-back: var(--euler-hexcolor-primary-1, white);
    --euler-hexcolor-tableheader-border: var(--euler-hexcolor-gray-3, blue);
    --euler-hexcolor-tableheader-fore: var(--euler-hexcolor-gray-5, white);
    /*#endregion Control colors */

    /*#region Fonts */

    --euler-fontfamily-default: 'Cambria Math';
    --euler-fontfamily-actionmenu: 'Arial';
    --euler-fontfamily-tableheader: 'Cambria Math';
    --euler-fontfamily-tablecell: 'Arial';
    /*#endregion */
}

body {
    background-color: var(--euler-hexcolor-back-0, white);
}
