/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33r0u0kcQg86woFa0kqiTdJpabo */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */


:root {
    /*primary color*/
    --euler-hexcolor-primary-0: #0E2C39;
    --euler-hexcolor-primary-1: #1E3945;
    --euler-hexcolor-primary-2: #324851;
    --euler-hexcolor-primary-3: #485D66;
    --euler-hexcolor-primary-4: #64757C;
    /* secondary color (1) */
    --euler-hexcolor-secondary-1-0: #5B2113;
    --euler-hexcolor-secondary-1-1: #6D392D;
    --euler-hexcolor-secondary-1-2: #81574D;
    --euler-hexcolor-secondary-1-3: #A37A70;
    --euler-hexcolor-secondary-1-4: #C5A49D;
    /* secondary color(2) */
    --euler-hexcolor-secondary-2-0: #5B4713;
    --euler-hexcolor-secondary-2-1: #6D5B2D;
    --euler-hexcolor-secondary-2-2: #81724D;
    --euler-hexcolor-secondary-2-3: #A39470;
    --euler-hexcolor-secondary-2-4: #C5B99D;
    /* gray color scale darkest - lightest */
    --euler-hexcolor-gray-0: #191919;
    --euler-hexcolor-gray-1: #212121;
    --euler-hexcolor-gray-2: #303030;
    --euler-hexcolor-gray-3: #424242;
    --euler-hexcolor-gray-4: #D2D2D2;
    --euler-hexcolor-gray-5: #E6E6E6;
    --euler-hexcolor-back-0: #212121;
    --euler-hexcolor-back-1: #424242;
    --euler-hexcolor-control-back-0: #191919;
    --euler-hexcolor-control-border: #424242;
    --euler-hexcolor-fore-0: #E6E6E6;
    --euler-hexcolor-fore-1: #D2D2D2;
}

/*.color-primary-0 {
    color: #324851
}*/
/* Main Primary color */
/*.color-primary-1 {
    color: #64757C
}

.color-primary-2 {
    color: #485D66
}

.color-primary-3 {
    color: #1E3945
}

.color-primary-4 {
    color: #0E2C39
}

.color-secondary-1-0 {
    color: #81724D
}*/
/* Main Secondary color (1) */
/*.color-secondary-1-1 {
    color: #C5B99D
}

.color-secondary-1-2 {
    color: #A39470
}

.color-secondary-1-3 {
    color: #6D5B2D
}

.color-secondary-1-4 {
    color: #5B4713
}

.color-secondary-2-0 {
    color: #81574D
}*/
/* Main Secondary color (2) */
/*.color-secondary-2-1 {
    color: #C5A49D
}

.color-secondary-2-2 {
    color: #A37A70
}

.color-secondary-2-3 {
    color: #6D392D
}

.color-secondary-2-4 {
    color: #5B2113
}*/



/* As RGBa codes */

/*.rgba-primary-0 {
    color: rgba( 50, 72, 81,1)
}*/
/* Main Primary color */
/*.rgba-primary-1 {
    color: rgba(100,117,124,1)
}

.rgba-primary-2 {
    color: rgba( 72, 93,102,1)
}

.rgba-primary-3 {
    color: rgba( 30, 57, 69,1)
}

.rgba-primary-4 {
    color: rgba( 14, 44, 57,1)
}

.rgba-secondary-1-0 {
    color: rgba(129,114, 77,1)
}*/
/* Main Secondary color (1) */
/*.rgba-secondary-1-1 {
    color: rgba(197,185,157,1)
}

.rgba-secondary-1-2 {
    color: rgba(163,148,112,1)
}

.rgba-secondary-1-3 {
    color: rgba(109, 91, 45,1)
}

.rgba-secondary-1-4 {
    color: rgba( 91, 71, 19,1)
}

.rgba-secondary-2-0 {
    color: rgba(129, 87, 77,1)
}*/
/* Main Secondary color (2) */
/*.rgba-secondary-2-1 {
    color: rgba(197,164,157,1)
}

.rgba-secondary-2-2 {
    color: rgba(163,122,112,1)
}

.rgba-secondary-2-3 {
    color: rgba(109, 57, 45,1)
}

.rgba-secondary-2-4 {
    color: rgba( 91, 33, 19,1)
}*/

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
