@page "/dashboard"

@inherits LocalizableComponent

<PageTitle>
    @($"{Resources.Strings.ApplicationName} | {Resources.Strings.PageTitle_Dashboard}")
</PageTitle>

<DashboardContainer>
    <ContentTiles>
        <ContentTile>
            <TitleAlignLeft>
                <div>@Resources.Strings.ComponentTitle_FutureValueCalculator</div>
            </TitleAlignLeft>
            <Body>
                @if(IsLoading)
                {
                    <LoadingSvg />
                }
                else
                {
                    <FutureValueCalculator />
                }
            </Body>
        </ContentTile>
        <ContentTile>
            <TitleAlignLeft>
                <div>@Resources.Strings.ComponentTile_MarketQuotes</div>
            </TitleAlignLeft>
            <Body>
                @if(IsLoading)
                {
                    <LoadingSvg />
                }
                else
                {
                    <MarketQuoteTable /> 
                }
            </Body>
        </ContentTile>
    </ContentTiles>
</DashboardContainer>

@code {
}
