::deep .themed-component {
    color: var(--euler-hexcolor-fore-0, black);
    background-color: var(--euler-hexcolor-back-0, white);
    position: static;
}

::deep form.model-editor {
    width: 50%;
}

::deep form.model-editor td {
    padding: 0.25rem;
}
::deep .datagrid {
    width: 100%;
    overflow: scroll;
}

::deep .datagrid a {
    padding: 0.5em;
    color: var(--euler-hexcolor-fore-0, black);
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    width: 100%;
}

::deep .datagrid a:hover {
    background-color: var(--euler-hexcolor-gray-2, gray);
    color: var(--euler-hexcolor-fore-0, black);
    cursor: pointer;
    text-decoration: underline;
}

::deep .form-control {
    color: var(--euler-hexcolor-fore-0, black) !important;
    outline: none !important;
    padding: 0.125em !important;
    font-size: inherit !important;
    font-family: inherit !important;
}

::deep .form-control:not(.label):not(.button) {
    background-color: var(--euler-hexcolor-control-back-0, white);
    border-color: var(--euler-hexcolor-control-border, gray);
}

::deep .form-control.label {
    background-color: var(--euler-hexcolor-back-0, white) !important;
    border: none !important;
    color: var(--euler-hexcolor-fore-0, black) !important;
    font-size: inherit !important;
    font-family: inherit !important;
    outline: none !important;
    padding: 0.125em !important;
}

::deep .form-control.button {
    background-color: var(--euler-hexcolor-primary-0, inherit) !important;
    border-color: var(--euler-hexcolor-back-1, inherit) !important;
    color: var(--euler-hexcolor-fore-0, white) !important;
}

    ::deep .form-control.button:hover {
        background-color: var(--euler-hexcolor-primary-2, inherit) !important;
        border-color: var(--euler-hexcolor-back-1, inherit) !important;
        color: var(--euler-hexcolor-fore-0, white) !important;
    }
