.custom-tooltip {
    position: static;
    display: inline;
    /*overflow: visible;*/
    width: 100%;
}

    .custom-tooltip .custom-tooltip-text {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 5px 5px 5px;
        border-radius: 6px;
        
        margin-left: 20px;
        position: absolute;
    }

    .custom-tooltip:hover .custom-tooltip-text {
        visibility: visible;
    }
