<div class="custom-tooltip">
    @ChildContent
    <span class="custom-tooltip-text">@Text</span>
</div>

@code {
    [Parameter] 
    public RenderFragment? ChildContent { get; set; }
    
    /// <summary>
    /// Gets or sets the text for this instance.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = Resources.Strings.Caption_NoContent;
}