@page "/UnderConstruction"
<div class="banner">
    <IonIcon Name="build" />
    <span>
        @Resources.Strings.Caption_PageUnderConstruction
    </span>
</div>
<div class="planet-icon" >
    <IonIcon Name="planet" id="planet-svg"/>
</div>
