.content {
    display: block;
}

.banner {
    position: relative;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    /*color: black;*/
    color: var(--euler-hexcolor-fore-0, black);
    /*height: fit-content;*/
    text-align: left;
    vertical-align: text-bottom;
    z-index: 2;
}

    .banner > ::deep .ion-icon {
        width: 64px;
        aspect-ratio: 1/1;
        color: var(--euler-hexcolor-fore-0, black);
        padding-right: 1rem;
    }

.planet-icon > ::deep .ion-icon {
    width: 50%;
    position: absolute;
    left: 25%;
    justify-content: center;
}
/* Change the fill color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[fill="none"], svg[fill="transparent"]) {
    fill: var(--euler-hexcolor-fore-0, black);
}

/* Change the stroke color to light shade if not 'none' or 'transparent'. */
::deep .ion-icon :not(svg[stroke="none"], svg[stroke="transparent"]) {
    stroke: var(--euler-hexcolor-fore-0, black);
}

/* Set the default background color for IonIcons.*/
::deep .ion-icon svg {
    background: none;
}
