@page "/under-construction"
<div class="banner">
    <IonIcon Name="build" />
    <span>
        @Strings.Caption_DevelopmentPlaceholder
    </span>
</div>
<div class="planet-icon" >
    <IonIcon Name="planet" id="planet-svg"/>
</div>
